<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTitle</key>
	<string>Gooze</string>
    <key>GoozeUrl</key>
    <string>http://216.250.114.156/</string>
	<key>GoozeApiUrl</key>
	<string>http://216.250.114.156/api</string>
	<key>LogLevel</key>
	<string>error</string>
	<key>LogAppID</key>
	<string>v6g2XV</string>
	<key>LogAppSecret</key>
	<string>ypzfjdx2bffbxSqjoxebh3qmoiznmohu</string>
	<key>LogAppKey</key>
	<string>vskgnz6i2hmIdQ04Q0mjmelZz7bf7txR</string>
    <key>SocketPath</key>
    <string>/socket.io</string>
    <key>ConektaPublicKey</key>
    <string>key_Nq2RPcj7tWasHq2iJz7ysqQ</string>
</dict>
</plist>
